<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tabletki.ua</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/front-page.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
      <div class="container"></div>
      <div class="header__return-reserve">
        <div class="container">
          <button>
            <svg
              width="32"
              height="32"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.113 10.4983C15.3901 10.8062 15.3651 11.2804 15.0573 11.5575L10.9544 15.25H23.1666C23.5809 15.25 23.9166 15.5858 23.9166 16C23.9166 16.4142 23.5809 16.75 23.1666 16.75H10.9544L15.0573 20.4425C15.3651 20.7196 15.3901 21.1938 15.113 21.5017C14.8359 21.8096 14.3617 21.8346 14.0538 21.5575L7.87885 16L14.0538 10.4425C14.3617 10.1654 14.8359 10.1904 15.113 10.4983Z"
                fill="#FFF"
              />
            </svg>
            <span>Мої броні</span>
          </button>
        </div>
      </div>
    </header>
    <main>
      @RenderBody()
    </main>

    <footer class="footer">
      <div class="container"></div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
