@{
    ViewData["Title"] = "Home Page";
}

<section class="reserve">
  <div class="container">
    <div class="to-menu">
      <button class="to-menu__bttn">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M15.113 10.4983C15.3901 10.8062 15.3651 11.2804 15.0573 11.5575L10.9544 15.25H23.1666C23.5809 15.25 23.9166 15.5858 23.9166 16C23.9166 16.4142 23.5809 16.75 23.1666 16.75H10.9544L15.0573 20.4425C15.3651 20.7196 15.3901 21.1938 15.113 21.5017C14.8359 21.8096 14.3617 21.8346 14.0538 21.5575L7.87885 16L14.0538 10.4425C14.3617 10.1654 14.8359 10.1904 15.113 10.4983Z"
            fill="#3B9C25"
          />
        </svg>
        <span>Особистий кабінет</span>
      </button>
    </div>
    <div class="reserve__menu"></div>
    <div class="reserve__content">
      <h2 class="reserve__title">Мої броні</h2>

      <ul class="reserve__list">
        <li class="reserve__list-item">
          <div class="reserve__details">
            <div class="reserve__details-head">
              <span class="reserve__details-state">Бронь створено</span>
              <p class="reserve__details-date">04.04.2023 в 09:45</p>
            </div>
            <p class="reserve__details-orders">
              №122010210, №122010212, №122010213
            </p>
          </div>

          <div class="reserve__toggle-container">
            <div class="reserve__toggle-info">
              <p>2 товара</p>
              <p>89,70 грн</p>
            </div>
            <button class="reserve__toggle-orders">
              <svg
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13 10L18 15.5L13 21"
                  stroke="#3B9C25"
                  stroke-width="1.5"
                  stroke-linecap="round"
                />
              </svg>
            </button>
          </div>

          <div class="reserve__info info">
            <div class="info__icon"></div>
            <p class="info__text">
              Назвіть додаткові номери бронювань для отримання рецептурних
              товарів
            </p>
          </div>

          <p class="reserve__success">
            Бронь передано аптеці, очікуйте підтвердження
          </p>

          <div class="reserve__schedule top-rectangle">
            <p>Аптека TAS <span class="reserve__schedule-icon"></span></p>
            <p>Відчинено до 21:00</p>
            <p>вул. Саперно-Слобідська 10, Київ</p>
          </div>

          <div class="reserve__footer">
            <div class="reserve__created">
              <div class="reserve__process">
                <div class="reserve__process-dote">
                  <span></span>
                </div>

                <div class="reserve__process-dote">
                  <span></span>
                  <p>Обробка</p>
                </div>

                <div class="reserve__process-dote">
                  <span></span>
                  <p>Очікує вас</p>
                </div>
              </div>

              <div class="reserve__created-content">
                <h4>Бронь створено 04.04.2023 09:43:41</h4>
                <div class="info">
                  <p class="info__text">
                    Бронь передано аптеці, очікуйте підтвердження
                  </p>
                </div>
              </div>

              <div class="reserve__cancel-container">
                <button class="reserve__cancel">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      cx="12"
                      cy="12"
                      r="9.1875"
                      transform="rotate(-90 12 12)"
                      stroke="#FF6262"
                      stroke-width="1.125"
                    />
                    <path
                      d="M8.25 15.75L15.75 8.25"
                      stroke="#FF6262"
                      stroke-width="1.125"
                      stroke-linecap="round"
                    />
                    <path
                      d="M15.75 15.75L8.25 8.25"
                      stroke="#FF6262"
                      stroke-width="1.125"
                      stroke-linecap="round"
                    />
                  </svg>
                  <span>ВІДМІНИТИ</span>
                </button>
              </div>
            </div>

            <div class="reserve__orders-container top-rectangle">
              <ul class="reserve__orders">
                <li class="reserve__orders-item">
                  <h5 class="reserve__orders-title">№122010210:</h5>
                  <p class="reserve__orders-text">Магнікор, таб. №30</p>

                  <div class="reserve__orders-details">
                    <div class="reserve__orders-img">
                      <img src="~/images/tabletki.png" alt="" />
                    </div>

                    <div class="reserve__orders-content">
                      <h6>Каптопрес-дарница табл. 50мг/25мг №20</h6>
                      <p>Дарница чао (украина, киев)</p>
                      <div class="reserve__orders-amount">
                        <p>1 упаковка</p>
                        <span>79.77 грн</span>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="reserve__orders-item">
                  <h5 class="reserve__orders-title">
                    №122010213 (за рецептом):
                  </h5>
                  <p class="reserve__orders-text">
                    Каптопрес-дарница табл. 50мг/25мг №20
                  </p>

                  <div class="reserve__orders-details">
                    <div class="reserve__orders-img">
                      <img src="~/images/tabletki.png" alt="" />
                    </div>

                    <div class="reserve__orders-content">
                      <h6>Каптопрес-дарница табл. 50мг/25мг №20</h6>
                      <p>Дарница чао (украина, киев)</p>
                      <span class="reserve__orders-receipt">
                        <svg
                          width="13"
                          height="16"
                          viewBox="0 0 13 16"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.862061 1V10.5455H2.79293V7.49094H4.23514L6.52083 11.1454L3.46153 16H5.6557L7.63672 12.7273L9.6052 16H11.8621L8.80276 11.1182L11.7367 6.45451H9.54251L7.75258 9.44035L6.3036 7.13639C7.55741 6.6273 8.18432 5.64093 8.18432 4.17729C8.18432 3.25001 7.93356 2.51364 7.43203 1.96819C6.83856 1.32273 5.98597 1 4.87426 1H0.862061ZM4.74887 5.63638H2.79293V2.89546H4.71126C5.18771 2.89546 5.55967 3.01364 5.82715 3.25001C6.09463 3.47728 6.22837 3.81365 6.22837 4.2591C6.22837 4.67729 6.09881 5.01365 5.83969 5.2682C5.58057 5.51366 5.21696 5.63638 4.74887 5.63638Z"
                            fill="#6B6B6B"
                          />
                        </svg>
                        <span>ЗА РЕЦЕПТОМ</span>
                      </span>
                      <div class="reserve__orders-amount">
                        <p>1 упаковка</p>
                        <span>79.77 грн</span>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="reserve__orders-item">
                  <h5 class="reserve__orders-title">
                    №122010213 (за рецептом):
                  </h5>
                  <p class="reserve__orders-text">
                    Каптопрес-дарница табл. 50мг/25мг №20
                  </p>

                  <div class="reserve__orders-details">
                    <div class="reserve__orders-img">
                      <img src="~/images/tabletki.png" alt="" />
                    </div>

                    <div class="reserve__orders-content">
                      <h6>Каптопрес-дарница табл. 50мг/25мг №20</h6>
                      <p>Дарница чао (украина, киев)</p>
                      <span class="reserve__orders-receipt">
                        <svg
                          width="13"
                          height="16"
                          viewBox="0 0 13 16"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M0.862061 1V10.5455H2.79293V7.49094H4.23514L6.52083 11.1454L3.46153 16H5.6557L7.63672 12.7273L9.6052 16H11.8621L8.80276 11.1182L11.7367 6.45451H9.54251L7.75258 9.44035L6.3036 7.13639C7.55741 6.6273 8.18432 5.64093 8.18432 4.17729C8.18432 3.25001 7.93356 2.51364 7.43203 1.96819C6.83856 1.32273 5.98597 1 4.87426 1H0.862061ZM4.74887 5.63638H2.79293V2.89546H4.71126C5.18771 2.89546 5.55967 3.01364 5.82715 3.25001C6.09463 3.47728 6.22837 3.81365 6.22837 4.2591C6.22837 4.67729 6.09881 5.01365 5.83969 5.2682C5.58057 5.51366 5.21696 5.63638 4.74887 5.63638Z"
                            fill="#6B6B6B"
                          />
                        </svg>
                        <span>ЗА РЕЦЕПТОМ</span>
                      </span>
                      <div class="reserve__orders-amount">
                        <p>1 упаковка</p>
                        <span>79.77 грн</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>

              <div class="reserve__orders-sum">
                <span>Всього:</span>
                <span>79.77 грн</span>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

